body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* =========###============Мобільні стилі=========###============ */

/* Хедер */

.golova {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.nav-section,
.nav-cont {
    display: none;
}

.nav-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-logo-hightlight {
    color: #2E2F42;
}

.burger-head-btn {
    border: none;
    background-color: transparent;
}

.burger-head-icon {
    fill: #2F2F37;
}

/* ===###==================Вступ==================###=== */

.tagline {
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/tagline-background/people-office-mobile.jpg);
    padding: 72px 0;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .tagline {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/tagline-background/people-office-mobile@2x.jpg)
    }
}


.tagline-tittle {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 169px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
}

.tagline-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #4D5AE5;
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.tagline-btn:active,
.tagline-btn:focus {
    background-color: #404BBF;
}

/* ===###==================Переваги==================###=== */

.secttion {
    padding: 96px 0;
}

.ben-container {
    display: block;
    margin: 0 auto;
}

.ben-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.list-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.list-text {
    color: #434455;
    font-weight: 500;
    width: 288px;
}



.icon-box {
    display: none;
}

/* =====================Команда===================== */

.abt-secttion {
    background-color: #F4F4FD;
}

.team-container {
    max-width: 296px;
}

.about-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.about-box {
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-direction: column;
    align-items: center;

}

.about-list-item {
    width 100%;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team {
    padding: 32px 0;
}

.about-name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.about-job-title {
    color: #434455;
    text-align: center;
    font-weight: 400;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-logo-box {
    display: flex;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
}

.icon-team {
    fill: #F4F4FD;
}

/* =====================Портфоліо===================== */

.anthr-box {
    border: 1px solid #e7e9fc;
    background: #FFF;
    padding: 32px 16px;
    border-top: none;
}

.pjct-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

#portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.port {
    margin-bottom: 72px;
}

.project-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
    margin-bottom: 8px
}

.project-type {
    color: #434455;
    font-weight: 400;
}



.project-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);

}

.project-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    display: none;
}

/* =====================Футер===================== */

.afterwords {
    text-align: center;
    background-color: #2E2F42;
    padding: 96px 0;

}

.afterwords-box {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

.foot-left {
    margin-right: 120px;
}

.foot-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foot-last {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Лого */

.foot-logo {
    display: inline-block;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px
}

.foot-logo-hightlight {
    color: #f4f4fd;
}

/* Текст */

.afterwords-text {
    color: #F4F4FD;
    font-weight: 400;
    width: 288px;
    text-align: left;
    font-weight: 400;
    margin-top: 17.5px;
}

/* Другий дів */

.afterwords-title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.foot-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.foot-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

/* Форма у футері */


.subscribe-form {
    gap: 24px;
}

.subscribe-text {
    color: #FFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.icon-team {
    fill: #FFF;
}

.subscribe-btn-icon {
    display: flex;
    fill: #FFF;
}

.subscribe-form-input {
    color: #FFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 288px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(48, 45, 45, 0.15);
    outline: 0px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
}

.subscribe-btn {
    margin: 16px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: 500;
    border: none;
}

.subscribe-btn-icon {
    display: flex;
    fill: #FFF;
    margin-left: 16px;
}


/*=====================Модалка===================== */

/* Затемнення*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* =====================Модальне вікно===================== */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #FCFCFC;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-closed-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closed-btn:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-closed-bnt-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-text {
    color: #2E2F42;

    font-weight: 500;
    line-height: 24px
}

.modal-text {
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

/* Форма */

.review-form {
    display: block;
}

/* Інпути */
.rewiew-form-user-box {
    margin-bottom: 8px;
}

.review-form-user-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-user-input:focus {
    border-color: #4D5AE5;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-user-input:focus+.review-form-input-icon {
    fill: #4D5AE5;
}

.review-form-user-label {
    display: block;
    color: #8E8F99;
    line-height: 1.17;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}


.review-form-input {
    position: relative;
}

/* Комнтар */

.review-form-comment {
    margin-bottom: 16px;
}

.review-form-comment-textarea {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;

}


/* Коментар */


.review-form-comment-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.34;
}

.review-form-comment-textarea:focus {
    border-color: #4D5AE5;
}


.review-form-comment-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.34;
    margin-bottom: 4px;
}

/* Привасі Полісі */

.review-form-privacy {
    margin-bottom: 24px;
}


.review-form-privacy-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-checkbox:checked+.review-form-privacy-label>.review-form-privacy-check {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-privacy-check-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-checkbox:checked+.review-form-privacy-label .review-form-privacy-check-icon {

    opacity: 1;
}

.review-form-privacy-checkbox:focus+.review-form-privacy-label>.review-form-privacy-check {
    outline: 2px solid #4D5AE5;
}


.review-form-privacy-check {
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}


.hightlight {
    line-height: 16px;
    text-decoration-line: underline;
    color: #4d5ae5;
}

/* Кнопка з відгуком */

.review-form-button {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    color: #FFF;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

.review-form-button:focus {
    background-color: #404BBF;
}


/* ===###==================Вступ==================###=== */




@media screen and (max-width:767px) {

    /* Мобільне меню */


    .mobile-menu-container {
        position: relative;
    }


    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: #F4F4FD;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0);
    }

    /* Мобільна кнопка */

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 16px;
        display: flex;
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);

    }

    /* Мобальний нав */

    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 72px;
    }

    .mobile-menu-list-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .nav-current-page {
        color: #404BBF;
    }

    /* Мобільні адреси */

    .mobile-nav-contacts-list {
        margin-top: 176px;
    }


    .mobile-nav-contacts-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    .mobile-nav-contacts-list :not(:last-child) {
        margin-bottom: 24px;
    }

    .mobile-list {
        display: flex;
        margin-top: 48px;
        gap: 40px;
    }

    .mobile-logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .icon-mobile {
        fill: #F4F4FD;
    }
}



/* ===###==================Планшетні стилі==================###=== */


@media screen and (min-width:768px) {

    /* =====================Перезапис мобілок===================== */

    .container {
        max-width: 768px;
    }

    .burger-head-btn {
        display: none;
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .nav-section,
    .nav-cont {
        display: flex;
    }


    /* =====================Хедер===================== */

    .header-container {
        padding: 0;
    }

    /* Нав */

    .nav {
        display: flex;
        width: 496px;
        justify-content: space-between;
        align-items: center;

    }

    .nav-section {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        display: block;
        color: #2E2F42;
        font-weight: 500;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav-current-page {
        position: relative;
        color: #404BBF;
    }

    .nav-current-page::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        content: '';

    }

    .nav-logo {
        margin-right: 120px;
    }

    /* Адреси */

    .nav-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav-contacts-link {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
    }

    /* ===###==================Вступ==================###=== */

    .tagline {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/tagline-background/people-office-tablet.jpg);
        padding: 112px 0;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .tagline {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/tagline-background/people-office-tablet@2x.jpg);
        }
    }


    .tagline-tittle {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* ===###==================Переваги==================###=== */

    .ben-list {
        column-gap: 24px;
        row-gap: 72px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-title {
        text-align: left;
    }

    .ben-item {
        width: calc((100% - 24px) / 2);
    }

    /* =====================Команда===================== */

    .about-box {
        display: flex;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;

    }


    /* =====================Футер===================== */

    .afterwords {
        display: flex;
        text-align: left;
        padding-top: 97.5px;
        padding-left: 108px;

    }

    .afterwords-box {
        gap: 0;
        align-items: baseline;

    }

    .foot-left {
        margin-right: 24px;
    }

    .foot-right {
        display: block;
    }

    .foot-last {
        display: block;
        margin-top: 72px;
    }

    /* Лого */

    .foot-logo {
        margin-bottom: 17.5px
    }

    /* Текст */

    .afterwords-text {
        margin-top: 0;
    }


    /* Форма у футері */


    .subscribe-form {
        display: flex;
    }


    .subscribe-form-input {
        width: 264px;
    }

    .subscribe-btn {
        margin: 0;
    }

    /* =====================Модальне вікно===================== */

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 25px 24px 23px;
    }

    .modal-closed-btn {
        cursor: pointer;
    }

    .modal-closed-btn:hover,
    .modal-closed-btn:focus {
        background-color: #404BBF;
        fill: #FFFFFF;
        border: none;
    }


    /* Коментар */



    .review-form-privacy-check {
        cursor: pointer;
    }

    /* Кнопка з відгуком */

    .review-form-button {
        cursor: pointer;
    }

    .review-form-button:hover,
    .review-form-button:focus {
        background-color: #404BBF;
    }

}



/* ==================###===Десктопні стилі===###================== */




@media screen and (min-width:1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /* =====================Хедер===================== */

    .nav {
        width: 452px;
    }


    .nav-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:active,
    .nav-link:focus {
        color: #404BBF;
    }

    .nav-contacts {
        flex-direction: row;
        gap: 40px;
    }

    .nav-contacts-link {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-contacts-link:hover,
    .nav-contacts-link:active,
    .nav-contacts-link:focus {
        color: #404BBF;
    }

    .nav-logo {
        margin-right: 120px;
    }

    /* ===###==================Вступ==================###=== */

    .tagline {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/tagline-background/people-office.jpg);
        padding: 188px 0;
        max-width: 1440px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .tagline {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/tagline-background/people-office-tablet@2x.jpg);

        }

    }

    .tagline-tittle {
        color: #FFFFFF;
        font-size: 18px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 48px;

    }

    .tagline-btn {
        display: block;
        min-width: 169px;
        border: none;
        border-radius: 4px;
        gap: 10px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        background: #4D5AE5;
        color: #FFFFFF;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.64px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .tagline-btn:hover,
    .tagline-btn:active,
    .tagline-btn:focus {
        background-color: #404BBF;
    }



    /* ===###==================Переваги==================###=== */

    .secttion {
        padding: 120px 0;
    }

    .ben-list {
        display: flex;
        gap: 24px;
        justify-content: center;

    }

    .list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

    }

    .list-text {
        font-weight: 400;
    }

    .ben-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        padding: 24px 100px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
    }

    /* =====================Команда===================== */

    .team-logo-box {
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-logo-box:hover,
    .team-logo-box:focus {

        background-color: #404BBF;
    }

    .about-box {
        gap: 24px;
    }

    .about-list-item {
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }



    .about-name {
        color: #2e2f42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 1.2;
        margin-bottom: 8px
    }

    .about-job-title {
        color: #434455;
        text-align: center;
        font-weight: 400;
        margin-bottom: 8px;
    }

    /* =====================Футер===================== */

    .afterwords {
        padding: 100px 0;
    }


    .afterwords-box {
        flex-wrap: nowrap;
    }


    .foot-left {
        margin-right: 120px;
    }


    .foot-right {
        margin-right: 80px;
    }


    .foot-last {
        margin: 0;
    }


    .foot-logo {
        margin-bottom: 16px;
    }

    .foot-logo-box {
        padding: 12px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .foot-logo-box:hover,
    .foot-logo-box:focus {
        background-color: #31D0AA;
    }

    .afterwords-text {
        flex-wrap: wrap;
    }

    /* Форма у футері */

    .subscribe-form-input {
        width: 264px;
    }

    .subscribe-btn {
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }


    .subscribe-btn:hover,
    .subscribe-btn:focus {
        background-color: #404BBF;
    }

}