body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Мобільні стилі */

/* Хедер */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.nav-section,
.nav-cont {
    display: none;
}

.nav-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-logo-hightlight {
    color: #2E2F42;
}

.burger-head-btn {
    border: none;
    background-color: transparent;
}

.burger-head-icon {
    fill: #2F2F37;
}

/* Мобільне меню */

.mobile-menu-container {
    position: relative;
}

.mobile-menu-list-link {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;

}

.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #F4F4FD;
    padding: 72px 24px 40px 16px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

}




.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-list-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Планшетні стилі */

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

/* Десктопні стилі */


@media screen and (min-width:1158px) {
    .container {
        min-width: 1158px;
    }
}